/* common */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#site-structure {
    width: 1250px;
    margin: auto;
    font-family: 'Rubik Mono One', sans-serif;
}

/* utility */

.relative {
    position: relative;
}

/***********
  #site-main
  ***********/

/* #products-nav */

#products-nav {
    text-align: right;
    padding: 2rem 1rem 0;
}

.label {
    height: 2.5rem;
    width: 2.5rem;
    margin-left: 1.5rem;
    display: inline-block;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    line-height: 2.5rem;
    vertical-align: middle;
}

/* .container.shoe */

.container.shoe {
    height: 100vh;
    text-align: center;
}

#red {
    background-color: #FF0000;
}

#green {
    background-color: #008000;
}

#yellow {
    background-color: #FFFF00;
}

/* .container.product */

.container.product {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.product.image {
    height: 400px;
}

.description {
    text-transform: uppercase;
    color: #FFFF00;
}

#yellow .description {
    color:#008000
}